body{
	/* Applies to whole page */
	background-color:black;
	font-family: Arial, sans-serif;
	color: white;
}

h1{
	/* Applies to header */
	color:grey;
	font-family: Verdana, sans-serif;
	white-space: nowrap;
	text-align: left;
}

.maindiv{
	/* Applies to everything in the div tag, making it different from the body */
	background-color: white;
	color: black;
	width: 500px;
	padding: 20px;
	border-radius: 25px;
	margin-left: 40px;
}

footer{
	/* Moves footer tag all the way to the left */
	text-align: left;
}

/* The four functions below apply to the inputs and button to position them accordingly */

form{
	display: table;
	margin-left: 80px;
}

p{
	display: table-row;
}

label{
	display: table-cell;
	text-align: left;
}

input{
	display: table-cell;
	text-align: left;
}

#result{
	/* Applies to id = result to display info as needed */
	white-space: nowrap;
	margin-left: 80px;
	display: table;
}







